<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>User</title>
</head>

<!--Верхняя панель-->
<header>
    <div class="row" th:object="${user}">
        <div class="col" style="background-color: #202020; font-size: 25px; color: white">
            <span style="padding-left: 15px"/> <b> <span th:text="*{email}"/> </b> with roles: <span
                th:text="${user.roleToString}"/>
            <form th:method="POST" th:action="@{/logout}" style="float: right">
                <button type="submit" style="background-color: transparent; border: 0; color: #808080;">Logout</button>
            </form>
        </div>
    </div>
</header>

<body>
<div style="width: 1920px; height: 922px;">

    <div class="h-100 row">

        <!--Группа кнопок слева-->
        <div class="col-2" style="width: available">
            <div class="nav flex-column nav-pills" aria-orientation="vertical" style="margin-top: 15px">
                <th:block th:each="role : ${user.getRoles}" th:object="${user}">
                    <a class="nav-link active" data-toggle="pill" href="#ROLE_USER" aria-selected="true"><span
                            th:text="${role.getName}"/> </a>
                </th:block>
            </div>
        </div>

        <!--Контейнер справа-->
        <div class="col-10" style="background-color: #EEEEEE" id="content">
            <div class="container-fluid">

                <!--Таблица контента-->
                <div class="tab-content">

                    <!--Пользователь-->
                    <div class="tab-pane fade show active" id="ROLE_USER">

                        <!--Название страницы-->
                        <div style="padding-left: 15px; padding-top: 15px">
                            <p class="font-weight-bold" style="font-size: 50px">User information-page</p>
                        </div>

                        <!--Название таблицы-->
                        <div class="container-fluid"
                             style="background-color: white; border: 1px #AAAAAA solid; border-radius: 5px">

                            <div class="row" style="background-color: #EEEEEE">
                                <div class="col" style="border-bottom: 1px #AAAAAA solid; margin-top: 10px;">
                                    <p class="font-weight-bold" style="font-size: 25px">About user</p>
                                </div>
                            </div>

                            <!--Таблица-->
                            <div class="row" style="margin-top: 20px">
                                <div class="col">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:object="${user}">
                                            <tr>
                                                <td th:text="*{ID}"></td>
                                                <td th:text="*{name}"></td>
                                                <td th:text="*{lastName}"></td>
                                                <td th:text="*{age}"></td>
                                                <td th:text="*{email}"></td>
                                                <td th:text="${user.roleToString}"></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Конец пользователя-->

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>