<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users View</title>
</head>
<body>
<div align="right">
    <form th:method="GET" th:action="@{/logout}">
        <button type="submit">Выйти</button>
    </form>
</div>
<div align="center">
    <form action="addUserForm">
        <button style="background: cyan">Добавить пользователя</button>
    </form>
    <table border="1px" style="margin-top: 20px">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>LastName</td>
            <td>Age</td>
        </tr>
        <tr th:each="u : ${users}">
            <td><p th:text="${u.getID}"/></td>
            <td><p th:text="${u.getName}"/></td>
            <td><p th:text="${u.getLastName}"/></td>
            <td><p th:text="${u.getAge}"/></td>
            <td>
                <form th:action="@{/editUserForm/{id}(id = ${u.getID})}">
                    <button style="background: greenyellow">Изменить пользователя</button>
                </form>
                <form th:method="DELETE" th:action="@{/removeUser/{id}(id = ${u.getID})}">
                    <button style="background: red">Удалить пользователя</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>